{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-4.6.2/css/bootstrap.min.css' %}">
    <style>
        .login-box {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 220px;
            border: 1px solid #dddddd;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
        }

        .login-box h2 {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="login-box">
    <h2 style="margin-top: 10px;">用户登陆</h2>
    <form method="post" action="/login/" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label>{{ form.username.label }}</label>
            {{ form.username }}
            <span style="color: red;">{{ form.username.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>{{ form.password.label }}</label>
            {{ form.password }}
            <span style="color: red;">{{ form.password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>{{ form.code.label }}</label>
            <div class="row">
                <div class="col-xs-6" style="margin-left: 20px;">
                    {{ form.code }}
                </div>
                <div class="col-xs-6" style="margin-left: 20px;">
                    <img src="/image/code/" alt="check code" id="check_code_image">
                </div>
            </div>
            <span style="color: red;">{{ form.code.errors.0 }}</span>
        </div>
        <button type="submit" class="btn btn-primary">提交
        </button>
        <span style="color: red;">{{ error }}</span>
    </form>
</div>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
    $(function () {
        $('#check_code_image').click(function () {
            const url = $(this).attr('src');
            $(this).attr('src', url + "?") // 加上问号使得URL发生变化
        })
    })
</script>
</body>
</html>